<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
  <div class="form-group">
    <label >Email address</label>
    <input value="currentuser" type="text" class="form-control" formControlName="username" aria-describedby="emailHelp" placeholder="Enter email">
    <small  id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label >Password</label>
    <input value="currentpassword" type="password" class="form-control" formControlName="password" placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>